<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PDF Anonymizer</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">
    <script type="text/javascript" src="../static/scripts/index.js"></script>
</head>
<body>
    <form action="/" method="POST" enctype="multipart/form-data">
        <div id="main">
            <h1>PDF Anonymizer</h1>
            <div id="uploader">
                <label for="fileinput_single" id="fileinput_single_label">Téléverser un seul fichier</label>
                <label for="fileinput_mult" id="fileinput_mult_label">Téléverser plusieurs fichiers</label>
                <input id="fileinput_single" name="pdfsingle" type="file" accept=".PDF" oninput="triggerFileInput(this)">
                <input id="fileinput_mult" name="pdfmult" type="file" accept=".PDF" oninput="triggerFileInput(this)" webkitdirectory directory multiple>
            </div>
        </div>
        <div id="hidden">
            <p id="uploadValidator"></p>
            <div id="submitButtonDiv">
                <input type="submit" value="Process file(s)" disabled="false" onclick="showLoadingAnimation(this)">
                <img id="loadingAnimation" src="../static/img/loading.gif">
            </div>
        </div>
    </form>
    <div id="lang">
        <div>
            <input type="radio" name="language" value="french" id="french" checked="checked" onclick="changeLanguage('fr')">
            <label for="french">Français</label>
        </div>
        <div>
            <input type="radio" name="language" value="english" id="english" onclick="changeLanguage('en')">
            <label for="english">English</label>
        </div>
    </div>
</body>
</html>
